body{
	font-family:helvetica;
}
#header_wrap{
	border:1px solid black;
	position:absolute;
	left:0px;
	top:0px;
	height:40px;
	width:1010px;
	line-height:40px;
}
#header{
	margin-left:20px;
	font-size:1.2em;
	font-weight:bold;
}

#task_list_wrap{
	position:absolute;
	left:0px;
	top:41px;
	width:270px;
}
#task_list{
	margin:10px;
}

#schedule_graphs_wrap{
	position:absolute;
	left:270px;
	top:41px;
	width:740px;
}
#schedule_graphs{
	margin:10px;
}

div.schedule{
	height:200px;
	width:650px;
}
div.overview{
	height:40px;
	width:650px;
}
div.schedule_wrap{
	margin:15px;
	padding:15px;
	border:1px solid blue;
}	